$fonts-size: (
  base: 62.5%, //html
  global: 1.2rem, //body
  h1: 2.4rem,
);

$fonts-family: (
  global: "Montserrat",
  secondary: "EB Garamond",
);

$colors: (
  primary: #14274A,
  complementary: #FFFFFF,
);
